
<!doctype html>
<html lang="zxx">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EHR</title>
  <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style-starter.css')}}">
  <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
  
          	       <script src="{{url_for('static',filename='new/js/jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static',filename='new/blockchain.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>

<body>
  <!--header-->
  <section class="w3l-header">
    <header id="site-header" class="">
      <section class="w3l-top-header py-3">
        <div class="container">
          <div class="d-grid main-top">
            <div class="top-header-left">
              <ul class="info-top-gridshny">
              </ul>
            </div>
            <div class="top-header-right text-lg-right">
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="header-2hny py-3">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark stroke">
            <h1><a class="navbar-brand mr-xl-5" href="">
                <span class="fa fa-heartbeat mr-1"></span>EHR Blockchain
              </a></h1>
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/ProvideKey">Provide key</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Addrecord">Add record</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Viewrecord">View Record</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Uploadfile">Upload File</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Download">Download File</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Shared Files</a>
                </li>
              </ul>
              <ul class="navbar-nav search-right mt-lg-0 mt-2">
                <li class="nav-item"><a href="/logout" class="btn btn-danger">LOGOUT</a></li>
              </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
              <nav class="navigation">
                <div class="theme-switch-wrapper">
                  <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <div class="mode-container py-1">
                      <i class="gg-sun"></i>
                      <i class="gg-moon"></i>
                    </div>
                  </label>
                </div>
              </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
          </nav>
        </div>
      </div>
    </header>
    <!--/header-->
  </section>
  
  
  
  
   <section class="w3l-ab-features py-5">
    <div class="container py-md-5 py-3">
      <div class="row features-w3pvt-main align-items-center" id="features">
        <div class="col-lg-6 feature-gird mt-5">
          <img src="{{url_for('static',filename='images/3.jpg')}}" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-6 feature-gird mt-5 pl-lg-5">
          <h2 class="sub-titlehny mb-2">Add to blockchain</h2>
            <div class="form-inner-cont">
          		<form id = "fileUploadForm" action="" method="post" enctype="multipart/form-data" class="contact-form">
                {% for datata in data %} 
                    <input type="hidden" id="{{datata}}" value="{{data[datata]}}">{{data[datata]}}</input><br>
                {% endfor %}
                <div class="form-submit text-right">
                    <button type="submit" id="btnSubmit" class="btn btn-style btn-primary">Add</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </section>
  
<script>
		$('#btnSubmit').click(function()		
			{
				web3=new Web3(web3.currentProvider);
				var filename = $('#a').val().toString();
				var uploader = $('#b').val().toString();
				var privatekey = $('#c').val().toString();
				var encryptedkey = $('#d').val().toString();
				var publickey = $('#e').val().toString();
				var ipfsfolderhash = $('#f').val().toString();
				
				console.log(filename)
				console.log(uploader)
				console.log(privatekey)
				console.log(encryptedkey)
				console.log(publickey)
				console.log(ipfsfolderhash)
			
				var accountisobtained="";//accountis;
				web3.eth.getAccounts((err, res) => { 
					//console.log(err);
					accountisobtained=res[0];
					
					//$('#acd').html(accountisobtained);
					var web3dictdata = {
							gasPrice: web3.utils.stringToHex(gasPriceval),
							gas: web3.utils.stringToHex(gasval),
							  to: address,
							//  value: web3.utils.toWei('1', "ether"),
							  from:accountisobtained,		
						}
					
							var val=contract.methods.addFiledetails(accountisobtained,filename, uploader, privatekey, encryptedkey, publickey, ipfsfolderhash).send(web3dictdata);
							console.log(val);
							return val;

					
				});
				return false;
			})
	</script>
  

<!--<script src="assets/js/jquery-3.3.1.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>



    <!-- copyright -->
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
          <p class="col-lg-8 copy-footer-29">© 2021 Preventive. All rights reserved.</p>

          <div class="col-lg-4 footer-list-29">
            
          </div>

        </div>
      </div>
    </section>
    
      <footer class="w3l-footer-29-main">
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </footer>

  <!-- //copyright -->
  <!-- Template JavaScript -->
 <!-- <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script> -->

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="{{url_for('static',filename='js/theme-change.js')}}"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <!-- <script src="assets/js/lightbox-plus-jquery.min.js"></script> -->
  <!-- libhtbox -->
  <script src="{{url_for('static',filename='js/owl.carousel.js')}}"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <script>
    $(document).ready(function () {
      $('.owl-news').owlCarousel({
        stagePadding: 200,
        loop: true,
        margin: 30,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            stagePadding: 40,
            nav: false
          },
          480: {
            items: 1,
            stagePadding: 40,
            nav: true
          },
          667: {
            items: 2,
            stagePadding: 50,
            nav: true
          },
          1000: {
            items: 2,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- stats number counter-->
  <script src="{{url_for('static',filename='js/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.countup.js')}}"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

</body>

</html>